@import '../../style/config.less';

@class-prefix-sortable: ~'@{class-prefix}-sortable';
@css-var-prefix-sortable: ~'@{css-var-prefix}-sortable';

:root {
  --color: currentcolor;
  --color-active: var(~'@{css-var-prefix}-color-primary');
  --font-size: 1em;
  --opacity-disabled: 0.5;
  --icon-font-size: 0.7em;
  --icon-color: rgb(var(~'@{css-var-prefix}-grey-400'));
  --icon-color-active: var(~'@{css-var-prefix}-color-primary');
  --space: 2px;
}

.@{class-prefix-sortable} {
  display: inline-flex;
  align-items: center;
  color: var(~'--color');
  font-size: var(~'--font-size');
  cursor: pointer;

  &-active {
    color: var(~'--color-active');
  }

  &-disabled {
    cursor: not-allowed;
    opacity: var(~'--opacity-disabled');
  }

  &-text {
    margin-right: var(~'--space');
  }

  &-icon {
    display: flex;
    flex-direction: column;
    color: var(~'--icon-color');
    font-size: var(~'--icon-font-size');
  }

  &-iconDown {
    margin-top: -0.3em;
  }

  &-icon-active {
    color: var(~'--icon-color-active');
  }
}
