@import './palette.less';
@import './variables.less';

:root {
  // 主色调
  --high-primary: rgb(var(--high-blue-700));
  --high-primary-light: rgb(var(--high-blue-400));
  --high-primary-dark: rgb(var(--high-blue-800));

  // 次要色
  --high-secondary: rgb(var(--high-purple-500));
  --high-secondary-light: rgb(var(--high-purple-300));
  --high-secondary-dark: rgb(var(--high-purple-700));

  // 错误色
  --high-error: rgb(var(--high-red-700));
  --high-error-light: rgb(var(--high-red-400));
  --high-error-dark: rgb(var(--high-red-800));

  // 警告色
  --high-warning: rgb(var(--high-orange-800));
  --high-warning-light: rgb(var(--high-orange-500));
  --high-warning-dark: rgb(var(--high-orange-900));

  // 信息色
  --high-info: rgb(var(--high-lightblue-700));
  --high-info-light: rgb(var(--high-lightblue-400));
  --high-info-dark: rgb(var(--high-lightblue-900));

  // 成功色
  --high-success: rgb(var(--high-green-800));
  --high-success-light: rgb(var(--high-green-500));
  --high-success-dark: rgb(var(--high-green-900));

  // 断点
  --high-breakpoint-xs: 0px;
  --high-breakpoint-sm: 600px;
  --high-breakpoint-md: 900px;
  --high-breakpoint-lg: 1200px;
  --high-breakpoint-xl: 1536px;

  // 排版方向
  --high-direction: ltr;

  // 层级
  --high-zIndex-mobilestepper: 1000;
  --high-zIndex-speeddial: 1050;
  --high-zIndex-appbar: 1100;
  --high-zIndex-drawer: 1200;
  --high-zIndex-modal: 1300;
  --high-zIndex-snackbar: 1400;
  --high-zIndex-tooltip: 1500;

  // 阴影
  // TODO: 阴影是否抽取变量
}

// 不同主题切换
body {
  color: rgba(var(--high-black), 0.87);
}

body.dark {
  color: rgb(var(--high-white));
}
