@import '../../style/config.less';

@class-prefix-overlay: ~'@{class-prefix}-overlay';
@css-var-prefix-overlay: ~'@{css-var-prefix}-overlay';

:root {
  @{css-var-prefix-overlay}-alpha: 0.4;
}

.@{class-prefix-overlay} {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, var(~'@{css-var-prefix-overlay}-alpha'));
}
